body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  margin: 0;
}

.container {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  margin: 2rem auto;
}

h2,
h3 {
  color: #333;
  text-align: center;
}

.message {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 4px;
}

.success {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

.error {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

input[type="text"],
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #4a90e2;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #357abd;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;

}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 4px;
  margin-bottom: 8px;

}

.delete-btn {
  color: #dc3545;
  background: none;
  border: none;
  cursor: pointer;
}

.delete-btn:hover {
  color: #a71d2a;
}

header {
  height: 6rem;
  background-color: #979393;
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 0 2rem;
  box-sizing: border-box;
  
}

.nav-links a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-size: 1.2rem;

}

.nav-links a:hover {
  text-decoration: underline;
}
